@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.login-form {
    color: #2b2b2e;
    background-color: #fff;
    font-family: 'Quicksand', sans-serif;
    padding: 20px 40px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 30%;
}

.fields > input {
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    background-color: #e5e8ed;
    border: none;
    border-radius: 5px;
}

.fields > button {
    background-color: #746bde;
    border: none;
    width: 100%;
    padding: 16px;
    margin: 30px 0;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    font-weight: 1000;
    font-size: 20px;
}

.fields > button:hover {
    background-color: #5a51c9;
}

.fields > button:focus {
    background-color: #4a41b9;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
